.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .icon_container {
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    border-radius: 6px;
  }

  .label {
    font-size: 11px;
  }
}
